@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/variable';

.mat-padding {
    width: 100%;
    height: 100%;
	text-align: center;
	background-attachment: fixed;
	background-size: contain;
	background-position-x: 100%;

	#membership-container {
		height: 100%;
		background-image: -webkit-linear-gradient(15deg, #fdfdfd 50%, rgba($secondColor, 0.6) 50%);

		.c3{
			display: inline-block;
			vertical-align: middle;
			width: 48%;
			margin: 7% 1%;
		
			h2 {
				font-family: $fontTravelTitle;
				font-weight: normal;
				font-size: 40px;
				margin-bottom: 5%;
				color: $mainColor;
	
				span{
					color: $cutColor;
				}
	
				&.pink {
					color: $fontColor;
				}
			}
	
			mat-form-field {
				width: 50%;
				height: 60px;
				font-size: 16px;
				margin: auto;
				display: block;
			}
		
			button, a{
				outline: none;
				width: 240px;
				display: inline-block;
				background: $mainColor;
				border: 1px solid $fontColor;
				border-radius: 2px;
			
				font-family: $fontLightTitle;
				color: $fontColor;
				font-size: 20px;
				text-decoration: none;
				padding: 11px 20px;
				cursor: pointer;
		
				transition: all 0.3s linear;
		
				&:hover{
					color: $mainColor;
					border: 1px solid $mainColor;
					background: transparent;    
				}
			}
		
			.signup-button button {
				color: $fontColor;
				border: 1px solid $fontColor;
				background: transparent;
			}
		}
	}
}

mat-sidenav-container {
    height: 100%
}

@media screen and (max-width: 950px) {
	.mat-padding {
		background: #fdfdfd;

		#membership-container {
			background: none;

			.c3{
				display: block;
				width: 95%;
				height: auto;
				margin: 0 auto;
				padding-top: 5%;

				h2.big-title{
					color: $mainColor;
					font-size: 30px;
					margin: 0 auto 5% auto;
				}

				.signup-button button {
					color: $mainColor;
					border: 1px solid $mainColor;
					background: transparent;
				}
			}
		}
	}
}