@import '../../../../assets/styles/typography';
@import '../../../../assets/styles/variable';

.tab-group {
    display: flex;
    flex-direction: column;
    
    .tab-headers {
        display: flex;
        text-align: center;
        transform: translate3d(0px, 0px, 0px);
        flex-grow: 1;
        position: relative;
        transition: transform .5s cubic-bezier(.35,0,.25,1);
        z-index: 1;
        border-bottom: 1px solid rgba(0,0,0,.12);
        margin-bottom: 2.5%;
        
        .tab-header {
            position: relative;
            display: inline-flex;
            min-width: 160px;
            height: 35px;
            opacity: .6;
            margin: 0;
            
            font-size: 14px;
            text-align: center;
            padding: 0 24px;
            color: rgba(0,0,0,.87);
            cursor: pointer;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            
            &.active {
                opacity: 1;
                background-color: rgba(197, 202, 233, 0.3);
            }

            &:hover {
                background-color: rgba(197, 202, 233, 0.3);
            }
        }

        .ink-bar {
            visibility: visible;
            left: 0px;
            width: 160px;
            background-color: $mainColor;
            position: absolute;
            bottom: 0;
            height: 2px;
            transition: .5s cubic-bezier(.35,0,.25,1);
        }
    }

    .tab-contents {
        position: relative;
        overflow-x: hidden;
        height: 110px;
        
        .tab-content {
            position: absolute;
            top: 0;
            left: 350px;
            padding: 5px;
            display: none;

            transition: .5s cubic-bezier(.35,0,.25,1);

            &.active {
                left: 0;
                display: block;
            }
        }
    }

    p.tip > * {
        display: inline-block;
        vertical-align: middle;
    }
    p.tip > mat-icon {
        font-size: 22px;
        width: 10%;
    }
    p.tip > a {
        font-size: 16px;
        padding-left: 10px;
        width: 85%;
    }
}

@media screen and (max-width: 450px) {
	.tab-header {
        min-width: 140px !important;
        padding: 14px !important;
    }
    .ink-bar {
        width: 140px !important;
    }
}