<div id="iw-container">
    <div class="main-img-container">
        <img src="{{mainPictureUrl}}" alt="{{mainPictureCaption}}" />
    </div>
    <div class="iw-title">
        {{title}}
        <br/>
        <i class="iw-subTitle">{{date}}</i>
    </div>
    <div class="iw-content">
        <div class="tab-group">
            <div class="tab-headers">
                <p class="tab-header" [class.active]="isSumupTabActive" (click)="toggleSumup($event)">
                    <mat-icon>subject</mat-icon>&nbsp;&nbsp;
                    <span>Résumé</span>
                </p>
                <p class="tab-header" [class.active]="!isSumupTabActive" (click)="toggleSumup($event)">
                    <mat-icon>near_me</mat-icon>&nbsp;&nbsp;
                    <span>Bons plans</span>
                </p>
                <div class="ink-bar"></div>
            </div>
            <div class="tab-contents">
                <div class="tab-content" [class.active]="isSumupTabActive" [innerHTML]="description">
                </div>
                <div class="tab-content" [class.active]="!isSumupTabActive">
                    <div class="tips-container">
                        <div class="tip-container" class="mat-2-line" *ngFor="let detail of astuces">
                            <p class="tip">
                                <mat-icon mat-list-avatar>{{detail.type}}</mat-icon>
                                <a mat-line>
                                    <b>{{detail.name}}</b>&nbsp;-&nbsp;~{{detail.price}}€
                                </a>
                            </p>

                            <p>{{detail.description}}</p>

                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="iw-footer" *ngIf="isTherePictures">
            <a href="{{mainPictureUrl}}" data-lightbox="image" data-title="{{mainPictureCaption}}">Voir les photos</a>
        </div>
        <div>
            <ul style="padding: 0;">
                <li *ngFor="let picture of pictures">
                    <a href="{{serviceUrl + '/' + picture.url}}" data-lightbox="image" data-title="{{picture.caption}}" *ngIf="picture.url != pictures[0].url">
                        <img class="ui bordered small image" src="{{serviceUrl + '/' + picture.url}}" alt="{{picture.caption}}" title="{{picture.caption}}"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="iw-bottom-gradient"></div>
</div>
