@font-face {
    font-family: 'lato-light';
    src: url('/assets/fonts/lato-light/lato-light.eot');
    src: url('/assets/fonts/lato-light/lato-light.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/lato-light/lato-light.woff2') format('woff2'), url('/assets/fonts/lato-light/lato-light.woff') format('woff'), url('/assets/fonts/lato-light/lato-light.ttf') format('truetype'), url('/assets/fonts/lato-light/lato-light.svg#lato-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'verano';
    src: url('/assets/fonts/verano/verano-webfont.eot');
    src: url('/assets/fonts/verano/verano-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/verano/verano-webfont.woff') format('woff'), url('/assets/fonts/verano/verano-webfont.ttf') format('truetype'), url('/assets/fonts/verano/verano-webfont.svg#lato-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
