// Colors
$mainColor: #094074;
$secondColor: #1F5180;
$thirdColor: #161925;
$cutColor: #FF5E5B;
$fontColor: #D8D8D8;
$secondFontColor: #000000;

// Fonts
$fontTravelTitle: 'verano', 'Roboto', 'Verdana';
$fontLightTitle: 'lato-light', 'Roboto', 'Verdana';
$fontContent: 'Open Sans Condensed', sans-serif;